/* frontend/app/globals.css */
@import "tailwindcss";

@theme {
  --font-display: "Arial", sans-serif;
  --color-primary: #1d4ed8;
  /* 他のカスタムプロパティ */
}

body {
  font-family: var(--font-display);
  color: var(--color-primary);
}
